@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("./snow.jpeg");
    background-size: cover;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center center;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    background: linear-gradient(to right, #fd5c63 40%, #005f69 60%);

}

.countdown-container {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.big-text {
    font-weight: bold;
   font-size: 6rem;
   line-height: 1;
   margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

footer {
  text-align: center;
}